
@{
    ViewBag.Title = "Index";
}
<div>姓名<input /></div>
<div>帳號<input /></div>
<div>密碼<input /></div>
<div>性別<input type="radio" name="gender" value="B"> Female</div>
<div>興趣<input type="radio" name="gender" value="B"> Female</div>
<div>自我介紹<textarea id="story" name="story"
              rows="5" cols="33">
</textarea>
</div>




